header
{
    padding-top:                        10px;
    padding-bottom:                     10px;
}


.github
{
    width:                              50px;
    height:                             50px;
    background:                         url(../img/github-white-40.png) no-repeat center center;
}


.github:hover
{
    background-image:                   url(../img/github-white.png);
}


.home--slogan
{
    text-align:                         center;
    margin-bottom:                      50px;
    color:                              #aaa;
}


.home--description
{
    text-align:                         center;
    margin-bottom:                      40px
}


.content--body a:hover, .footer a:hover
{
    color:                              #005580
}


pre
{
  text-align:                           left;
  margin-left:                          25%;
}


.heart
{
    color:                              #f88;
    font-weight:                        bold;
}


.post--scriptum
{
    font-weight:                        bold;
    font-size:                          15px;
}


p.center
{
    text-align:                         center;
}


.footer
{
    font-size:                          15px;
    margin-bottom:                      15px;
}